<!-- 
    But :    Projet 151 : Star Rail
    Auteur : Nathan Borgeat
    Date :   21.02.2025 / V1.0 
   -->

<!DOCTYPE html>

<h1>Sign in</h1>

<div class="conteneur">
  <table>
    <tr>
      <td class="title">AstroHérisson : Utilisateur</td>
    </tr>
    <tr>
      <td>Login</td>
      <td><input id="newlogin" type="text" placeholder="Login" /></td>
    </tr>
    <tr>
      <td>Mot de passe</td>
      <td>
        <input id="newpassword" type="password" placeholder="Mot de passe" />
      </td>
    </tr>
    <tr>
      <td>Mot de passe</td>
      <td>
        <input
          id="confirmpassword"
          type="password"
          placeholder="Mot de passe"
        />
      </td>
    </tr>
    <tr>
      <td><button id="signinbutton">Créer un compte</button></td>
      <td><a href="#" onclick="indexCtrl.loadLogin()">Log in</a></td>
    </tr>
  </table>
</div>
