/**  {
  margin:0px;
  padding:0px;
  border:0px;
}*/

body {
  text-align: center;
  padding: 10px;
}

.title {
  font-weight: bold;
}

.conteneur {
  background-color: white;
  width: 45em;
  height: auto;
  margin: auto;
  text-align: left;
  border: 2px solid black;
  padding: 1em 2em;
  font-family: Verdana, Arial, serif;
}

#deconnexiondiv {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 10px;
}

.ligne {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#tableherisson,
#tablevoyage {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-collapse: collapse;
}

#tableherisson>thead>tr>th,
#tableherisson>tbody>tr>td,
#tablevoyage>thead>tr>th,
#tablevoyage>tbody>tr>td {
  border: 1px solid black;
  padding: 8px;
  width: 12.5%;
}

#tableherisson>thead>tr>th,
#tablevoyage>thead>tr>th {
  background-color: lightgrey;
}

#tableherisson>tbody>tr:nth-child(even),
#tablevoyage>tbody>tr:nth-child(even) {
  background-color: #f0f0f0;
}